<launch>
  <!-- FUEL-on-quadruped defaults for Gazebo simulation, single-floor 2.5D exploration. -->
  <arg name="odom_topic" default="/Odometry_gazebo"/>
  <arg name="cloud_topic" default="/livox/Pointcloud2"/>
  <arg name="sensor_pose_topic" default="/fuel_dog_adapter/sensor_pose"/>
  <arg name="cmd_vel_topic" default="/cmd_vel"/>

  <arg name="map_size_x" default="50.0"/>
  <arg name="map_size_y" default="50.0"/>
  <arg name="map_size_z" default="2.5"/>

  <arg name="box_min_x" default="-25.0"/>
  <arg name="box_min_y" default="-25.0"/>
  <arg name="box_min_z" default="0.0"/>
  <arg name="box_max_x" default="25.0"/>
  <arg name="box_max_y" default="25.0"/>
  <arg name="box_max_z" default="2.0"/>

  <arg name="init_x" default="0.0"/>
  <arg name="init_y" default="0.0"/>
  <arg name="init_z" default="0.75"/>
  <arg name="sensor_offset_x" default="0.0"/>
  <arg name="sensor_offset_y" default="0.0"/>
  <arg name="sensor_offset_z" default="0.45"/>

  <arg name="max_vel" default="0.6"/>
  <arg name="max_acc" default="0.8"/>
  <arg name="max_angular_speed" default="0.8"/>

  <!-- Ground robot: fix trajectory Z to walking height (match dog body height in Gazebo ~0.32) -->
  <arg name="fixed_z" default="0.32"/>
  <arg name="z_margin" default="0.05"/>

  <node pkg="fuel_dog_adapter" name="odom_to_sensor_pose" type="odom_to_sensor_pose.py" output="screen">
    <param name="odom_topic" value="$(arg odom_topic)"/>
    <param name="pose_topic" value="$(arg sensor_pose_topic)"/>
    <param name="frame_id" value="world"/>
    <param name="sensor_offset_x" value="$(arg sensor_offset_x)"/>
    <param name="sensor_offset_y" value="$(arg sensor_offset_y)"/>
    <param name="sensor_offset_z" value="$(arg sensor_offset_z)"/>
  </node>

  <include file="$(find exploration_manager)/launch/algorithm.xml">
    <arg name="map_size_x_" value="$(arg map_size_x)"/>
    <arg name="map_size_y_" value="$(arg map_size_y)"/>
    <arg name="map_size_z_" value="$(arg map_size_z)"/>

    <arg name="box_min_x" value="$(arg box_min_x)"/>
    <arg name="box_min_y" value="$(arg box_min_y)"/>
    <arg name="box_min_z" value="$(arg box_min_z)"/>
    <arg name="box_max_x" value="$(arg box_max_x)"/>
    <arg name="box_max_y" value="$(arg box_max_y)"/>
    <arg name="box_max_z" value="$(arg box_max_z)"/>

    <arg name="odometry_topic" value="$(arg odom_topic)"/>
    <arg name="sensor_pose_topic" value="$(arg sensor_pose_topic)"/>
    <arg name="depth_topic" value="/unused_depth_image"/>
    <arg name="cloud_topic" value="$(arg cloud_topic)"/>

    <arg name="cx" value="321.04638671875"/>
    <arg name="cy" value="243.44969177246094"/>
    <arg name="fx" value="387.229248046875"/>
    <arg name="fy" value="387.229248046875"/>

    <arg name="max_vel" value="$(arg max_vel)"/>
    <arg name="max_acc" value="$(arg max_acc)"/>
    <arg name="fixed_z" value="$(arg fixed_z)"/>
    <arg name="z_margin" value="$(arg z_margin)"/>
  </include>

  <node pkg="plan_manage" name="traj_server" type="traj_server" output="screen">
    <remap from="/position_cmd" to="/position_cmd"/>
    <remap from="/odom_world" to="$(arg odom_topic)"/>
    <param name="traj_server/time_forward" value="1.0" type="double"/>
    <param name="traj_server/pub_traj_id" value="4" type="int"/>
    <param name="traj_server/init_x" value="$(arg init_x)" type="double"/>
    <param name="traj_server/init_y" value="$(arg init_y)" type="double"/>
    <param name="traj_server/init_z" value="$(arg init_z)" type="double"/>

    <param name="perception_utils/top_angle" value="0.56125" type="double"/>
    <param name="perception_utils/left_angle" value="0.69222" type="double"/>
    <param name="perception_utils/right_angle" value="0.68901" type="double"/>
    <param name="perception_utils/max_dist" value="4.5" type="double"/>
    <param name="perception_utils/vis_dist" value="1.0" type="double"/>
  </node>

  <node pkg="fuel_dog_adapter" name="fuel_poscmd_to_cmdvel" type="fuel_poscmd_to_cmdvel.py" output="screen">
    <param name="position_cmd_topic" value="/position_cmd"/>
    <param name="odom_topic" value="$(arg odom_topic)"/>
    <param name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
    <!-- PD gains (fallbacks; overridden by trajectory kx/kv when available) -->
    <param name="position_kp" value="5.7"/>
    <param name="position_kd" value="3.4"/>
    <param name="yaw_kp" value="2.0"/>
    <!-- feedforward gains -->
    <param name="velocity_ff_gain" value="0.8"/>
    <param name="accel_ff_gain" value="0.25"/>
    <param name="yaw_ff_gain" value="0.5"/>
    <!-- look-ahead for corner anticipation -->
    <param name="lookahead_time" value="0.15"/>
    <!-- speed/accel limits -->
    <param name="max_linear_speed" value="$(arg max_vel)"/>
    <param name="max_lateral_speed" value="$(arg max_vel)"/>
    <param name="max_angular_speed" value="$(arg max_angular_speed)"/>
    <param name="linear_acc_limit" value="$(arg max_acc)"/>
    <param name="angular_acc_limit" value="1.5"/>
    <!-- behaviour flags -->
    <param name="align_yaw_to_velocity" value="true"/>
    <param name="forward_only" value="true"/>
    <param name="disable_lateral" value="true"/>
    <param name="min_heading_speed" value="0.03"/>
    <!-- timing -->
    <param name="command_timeout" value="0.5"/>
    <param name="odom_timeout" value="0.5"/>
    <param name="control_rate" value="30.0"/>
  </node>
</launch>
